.game-lists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows for wrapping if the window is too narrow */
  gap: 20px; /* Spacing between the boxes */
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
  align-items: flex-start; /* Aligns items to the top */
}

.section-container {
  flex-basis: calc(50% - 10px); /* Allocate equal width minus the gap */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  max-height: 500px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .section-container {
    flex-basis: 100%;
  }
}

.list-creation-section,
.my-lists-section,
.statistics-section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
}

.list-creation-section {
  flex-basis: 100%; /* List Creation takes full width */
  margin-bottom: 20px; /* Spacing between List Creation and other sections */
}

.my-lists-section, .statistics-section {
  min-height: 500px;
}

h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.form-container,
.statistics-container,
.lists-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-list-input,
.delete-list-button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-list-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.new-list-button:hover {
  background-color: #218838;
}

.delete-list-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.delete-list-button:hover {
  background-color: #bd2130;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.list-item:last-child {
  border-bottom: none;
}

.statistics-container p,
.statistics-container ul {
  margin-bottom: 10px;
}

.statistics-container h3 {
  margin-top: 15px;
  color: #007bff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
}

/* Adjust the width of the lists to fit content */
.list-item span {
  flex-grow: 1;
}

/* Style for inputs and buttons */
input[type="text"] {
  width: 100%;
  margin-bottom: 10px; /* Space between the input and the buttons */
}

.section-container::-webkit-scrollbar {
  width: 10px;
}

.section-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.section-container::-webkit-scrollbar-thumb {
  background: #888;
}

.section-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
